{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Assist - Planowanie Lekcji</title>

    <!-- React App CSS -->
    <link rel="stylesheet" href="{% static 'lessonplanner/dist/assets/index-DOt_LElg.css' %}">
</head>
<body>
    <!-- React App Root -->
    <div id="root"></div>

    <!-- React App JS -->
    <script type="module" src="{% static 'lessonplanner/dist/assets/index-XsL2Kv9u.js' %}"></script>
</body>
</html>
